/* PAGE CONTAINER */
.page-container {
  width: 100%;
  float: left;
  min-height: 100%;
  position: relative;
  background: #F2F2F2;
  font-family: Verdana,Helvetica;
}
.page-container .page-sidebar {
  width: 220px;
  float: left;
  position: relative;
  z-index: 3;
}
.page-container .page-sidebar.page-sidebar-fixed {
  position: fixed;
}
.page-container.page-container-wide .page-sidebar {
  width: 50px;
}
.page-container .page-content {
  min-height: 100%;
  margin-left: 220px;
  background: #f5f5f5 url('../img/bg.png') left top repeat;
  position: relative;
  zoom: 1;
}
.page-container .page-content:before,
.page-container .page-content:after {
  content: "";
  display: table;
}
.page-container .page-content:after {
  clear: both;
}
.page-container .page-content .content-frame {
  float: left;
  width: 100%;
  position: relative;
  background: #f5f5f5 url('../img/bg.png') left top repeat;
}
.page-container .page-content .content-frame .content-frame-top {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 13px 15px 15px;
  background: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}
.page-container .page-content .content-frame .content-frame-top .page-title {
  padding: 0px;
  width: auto;
}
.page-container .page-content .content-frame .content-frame-top .page-title h2 {
  margin-bottom: 0px;
  font-size: 22px;
}
.page-container .page-content .content-frame .content-frame-left {
  float: left;
  width: 300px;
  padding: 10px;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.02);
  border-right: 1px solid #DDD;
}
.page-container .page-content .content-frame .content-frame-left.padding-0 {
  padding: 0px;
}
.page-container .page-content .content-frame .content-frame-left .block {
  padding: 0px;
  margin-bottom: 20px;
}
.page-container .page-content .content-frame .content-frame-left h4 {
  margin-top: 10px;
}
.page-container .page-content .content-frame .content-frame-left > .form-group {
  margin-bottom: 20px;
}
.page-container .page-content .content-frame .content-frame-right {
  float: right;
  width: 300px;
  padding: 10px;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.02);
  border-left: 1px solid #DDD;
}
.page-container .page-content .content-frame .content-frame-right.padding-0 {
  padding: 0px;
}
.page-container .page-content .content-frame .content-frame-right.padding-0 .block {
  padding: 10px;
}
.page-container .page-content .content-frame .content-frame-right h4 {
  margin-top: 10px;
}
.page-container .page-content .content-frame .content-frame-right .block {
  padding: 0px;
  margin-bottom: 20px;
}
.page-container .page-content .content-frame .content-frame-right > .form-group {
  margin-bottom: 20px;
}
.page-container .page-content .content-frame .content-frame-body {
  padding: 70px 10px 10px 10px;
  margin-left: 300px;
}
.page-container .page-content .content-frame .content-frame-body.content-frame-body-left {
  margin-left: 0px;
  margin-right: 300px;
}
.page-container .page-content .content-frame .content-frame-left-toggle,
.page-container .page-content .content-frame .content-frame-right-toggle {
  display: none;
  margin-left: 5px;
}
.page-container .page-content .page-content-wrap {
  float: left;
  width: 100%;
}
.page-container.page-container-wide .page-content {
  margin-left: 50px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.page-container.page-navigation-toggled .page-content {
  margin-left: 50px;
}
.page-container.page-mode-rtl .page-sidebar {
  float: right;
}
.page-container.page-mode-rtl .page-sidebar.page-sidebar-fixed {
  right: 0px;
}
.page-container.page-mode-rtl .page-content {
  margin-left: 0px;
  margin-right: 220px;
}
.page-container.page-mode-rtl.page-container-wide .page-content {
  margin-right: 50px;
}
.page-container.page-navigation-top .page-content {
  margin-left: 0px;
}
.page-container.page-navigation-top-fixed .x-navigation.x-navigation-horizontal {
  position: fixed;
  padding-right: 220px;
  top: 0px;
}
.page-container.page-navigation-top-fixed .page-content {
  padding-top: 50px;
}
.page-container.page-navigation-top-fixed.page-navigation-toggled .x-navigation.x-navigation-horizontal {
  padding-right: 50px;
}
body.page-container-boxed {
  background: url("../img/backgrounds/wall_1.jpg") left top no-repeat fixed;
  padding: 20px 0px;
}
body.page-container-boxed .page-container {
  width: 1200px;
  float: none;
  margin: 0px auto;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* END PAGE CONTAINER */
/* NAVIGATION */
.x-navigation,
.x-navigation ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
  list-style: none;
  display: block;
  z-index: 3;
}
.x-navigation {
  background: #1b1e24;
  /* NAV LIST ELEMENT */
  /* END NAV LIST ELEMENT */
  /* NAV LIST FIRST ELEMENT */
  /* END NAV LIST FIRST ELEMENT */
  /* NAV HORIZONTAL MODE */
  /* END NAV HORIZONTAL MODE */
  /* NAV MINIMIZED MODE */
  /* END NAV MINIMIZED MODE */
  /* X-NAVIIGATION CUSTOM */
  /* END X-NAVIGATION CUSTOM */
  /* NAV SEARCH */
  /* END NAV SEARCH */
  /* NAV INFORMER */
  /* END NAV INFORMER */
}
.x-navigation li {
  float: left;
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.x-navigation li > a {
  display: block;
  float: left;
  width: 100%;
  line-height: 19px;
  color: #8b91a0;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 10px 15px 15px;
  text-decoration: none;
  border-bottom: 1px solid #17191e;
  vertical-align: text-bottom;
}
.x-navigation li > a .fa,
.x-navigation li > a .glyphicon {
  color: #8b91a0;
  text-align: center;
  width: 20px;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: baseline;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -ms-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
.x-navigation li > a:hover {
  background: #262a33;
  color:#fff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.x-navigation li > a:hover .fa,
.x-navigation li > a:hover .glyphicon {
  color: #fff;
}
.x-navigation li > ul {
  background: #17191e;
  max-height: 0px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  overflow: hidden;
}
.x-navigation li > ul li > a {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  padding: 12px 10px;
  border-bottom-color: #121418;
}
.x-navigation li > ul li > a:hover {
  background: #121418;
  color: #ffffff;
}
.x-navigation li > ul li.active > a {
  background: #121418;
  color: #ffffff;
}
.x-navigation li.xn-openable:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f196";
  font-size: 14px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  right: 0px;
  top: 12px;
  cursor: pointer;
}
.x-navigation li.active.xn-openable:before {
  content: "\f147";
}
.x-navigation li.active > a {
  background: #0080FF;
  color:#fff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.x-navigation li.active > a .fa,
.x-navigation li.active > a .glyphicon {
  color: #fff;
}
.x-navigation li.active > ul {
  max-height: 1200px;
}
.x-navigation li.xn-title {
  padding: 20px 10px 10px;
  line-height: 20px;
  font-weight: 300;
  font-size: 13px;
  color: #8b91a0;
  border-bottom: 1px solid #17191e;
}
.x-navigation > li.xn-openable:before {
  top: 15px;
}
.x-navigation > li > ul > li > a {
  padding-left: 25px;
}
.x-navigation > li > ul > li > a:hover {
  padding-left: 30px;
}
.x-navigation > li > ul > li.active > a {
  padding-left: 30px;
}
.x-navigation > li > ul > li > ul > li > a {
  padding-left: 40px;
}
.x-navigation > li > ul > li > ul > li > a:hover {
  padding-left: 45px;
}
.x-navigation > li > ul > li > ul > li.active > a {
  padding-left: 45px;
}
.x-navigation > li > ul > li > ul > li > ul > li > a {
  padding-left: 50px;
}
.x-navigation > li > ul > li > ul > li > ul > li > a:hover {
  padding-left: 55px;
}
.x-navigation > li > ul > li > ul > li > ul > li.active > a {
  padding-left: 55px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 60px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li > a:hover {
  padding-left: 65px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li.active > a {
  padding-left: 65px;
}
.x-navigation > li:last-child > a {
  -moz-border-radius: 0px 0px 0px 5px;
  -webkit-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
  border-bottom: 0px;
}
.x-navigation.x-navigation-horizontal {
  height: 50px;
  background: #1d2127;
}
.x-navigation.x-navigation-horizontal .xn-logo a {
  border-bottom: 0px;
  width: 200px;
}
.x-navigation.x-navigation-horizontal > li.xn-openable:before {
  display: none;
}
.x-navigation.x-navigation-horizontal > li > a {
  padding: 15px;
  border-bottom: 0px;
  line-height: 20px;
  color: #ffffff;
  text-shadow: none;
}
.x-navigation.x-navigation-horizontal > li > a:hover {
  background: #282d36;
}
.x-navigation.x-navigation-horizontal > li > a:hover .fa,
.x-navigation.x-navigation-horizontal > li > a:hover .glyphicon {
  color: #697b92;
}
.x-navigation.x-navigation-horizontal > li > a .fa,
.x-navigation.x-navigation-horizontal > li > a .glyphicon {
  color: #ffffff;
}
.x-navigation.x-navigation-horizontal > li.active > a {
  background: #282d36;
}
.x-navigation.x-navigation-horizontal > li.active > a .fa,
.x-navigation.x-navigation-horizontal > li.active > a .glyphicon {
  color: #697b92;
}
.x-navigation.x-navigation-horizontal > li ul {
  width: 220px;
  position: absolute;
  overflow: visible;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.x-navigation.x-navigation-horizontal > li ul ul.xn-drop-white:after {
  border-right-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul {
  top: 60px;
  left: 0px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-white:after {
  border-bottom-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left {
  left: auto;
  right: 0px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left.xn-drop-white ul:after {
  border-left-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul:after {
  bottom: 100%;
  left: 27px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #1b1e24;
  border-width: 5px;
  margin-left: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after {
  right: 20px;
  left: auto;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after ul {
  left: auto;
  right: 230px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after ul:after {
  right: auto;
  left: 100%;
  border: solid transparent;
  border-left-color: #1b1e24;
  border-width: 5px;
  margin-right: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul ul {
  top: 0px;
  right: -230px;
}
.x-navigation.x-navigation-horizontal > li > ul ul:after {
  right: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #1b1e24;
  border-width: 5px;
  margin-top: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul li > a {
  padding-left: 10px;
}
.x-navigation.x-navigation-horizontal > li > ul li > a:hover {
  padding-left: 15px;
}
.x-navigation.x-navigation-horizontal > li > ul li.active > a {
  padding-left: 15px;
}
.x-navigation.x-navigation-horizontal > li li {
  width: 100%;
}
.x-navigation.x-navigation-horizontal > li li:first-child a {
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.x-navigation.x-navigation-horizontal > li li:last-child a {
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  border-bottom-color: transparent;
}
.x-navigation.x-navigation-horizontal > li li.xn-openable:before {
  content: "\f105";
}
.x-navigation.x-navigation-horizontal > li li.active.xn-openable:before {
  content: "\f104";
}
.x-navigation.x-navigation-horizontal > li:last-child > a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.x-navigation.x-navigation-horizontal > li.last > a {
  -moz-border-radius: 0px 5px 0px 0px;
  -webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}
.x-navigation.x-navigation-horizontal li {
  width: auto;
  position: relative;
}
.x-navigation.x-navigation-horizontal li.active > ul {
  display: block;
}
.x-navigation.x-navigation-horizontal li.xn-openable > a {
  padding-right: 20px;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white {
  background: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white ul {
  background: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white ul:after {
  border-right-color: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a {
  color: #333;
  text-shadow: none;
  border-bottom: 1px solid #E9E9E9;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a:hover {
  background: #F5F5F5;
  color: #333;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a .fa,
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a .glyphicon {
  color: #1b1e24;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li.active > a {
  color: #333;
  text-shadow: none;
  border-bottom: 1px solid #E9E9E9;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li.active.xn-openable:before {
  color: #333;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a {
  padding: 15px 10px;
  text-align: center;
  width: 50px;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a .fa,
.x-navigation.x-navigation-horizontal .xn-icon-button > a .glyphicon {
  margin: 0px;
}
.x-navigation.x-navigation-horizontal .xn-search {
  padding: 10px 5px;
}
.x-navigation.x-navigation-horizontal .xn-search input {
  width: 100px;
}
.x-navigation.x-navigation-horizontal .xn-search input:focus {
  width: 200px;
}
.x-navigation.x-navigation-horizontal .xn-search:before {
  left: 5px;
}
.x-navigation.x-navigation-minimized {
  width: 50px;
}
.x-navigation.x-navigation-minimized .xn-text {
  display: none;
}
.x-navigation.x-navigation-minimized .xn-visible {
  display: block;
}
.x-navigation.x-navigation-minimized li {
  width: auto;
  position: relative;
}
.x-navigation.x-navigation-minimized li.xn-profile .profile-mini {
  display: block;
}
.x-navigation.x-navigation-minimized li.xn-profile .profile:after {
  right: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #1b1e24;
  border-width: 5px;
  margin-top: -5px;
}
.x-navigation.x-navigation-minimized li.xn-title {
  display: none;
}
.x-navigation.x-navigation-minimized li.active > ul {
  display: block;
}
.x-navigation.x-navigation-minimized li ul {
  top: 0px;
  right: -230px;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.x-navigation.x-navigation-minimized li ul:after {
  right: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #1b1e24;
  border-width: 5px;
  margin-top: -5px;
}
.x-navigation.x-navigation-minimized li ul li > a {
  padding-left: 15px !important;
}
.x-navigation.x-navigation-minimized li ul li > a:hover {
  padding-left: 20px !important;
}
.x-navigation.x-navigation-minimized li ul li.active > a {
  padding-left: 20px !important;
}
.x-navigation.x-navigation-minimized li ul li:first-child > a {
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.x-navigation.x-navigation-minimized li ul li:last-child > a {
  border-bottom: 0px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
.x-navigation.x-navigation-minimized > li {
  width: 100%;
}
.x-navigation.x-navigation-minimized > li > a {
  padding: 15px 10px;
  text-align: center;
}
.x-navigation.x-navigation-minimized > li > a .fa,
.x-navigation.x-navigation-minimized > li > a .glyphicon {
  margin: 0px;
}
.x-navigation.x-navigation-minimized > li ul {
  width: 220px;
  position: absolute;
  overflow: visible;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.x-navigation.x-navigation-minimized > li li {
  width: 100%;
}
.x-navigation.x-navigation-minimized > li li.xn-openable:before {
  content: "\f105";
}
.x-navigation.x-navigation-minimized > li li.active.xn-openable:before {
  content: "\f104";
}
.x-navigation.x-navigation-minimized > li.active:before,
.x-navigation.x-navigation-minimized > li.xn-openable:before {
  display: none;
}
.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child {
  padding: 0px;
  width: 50px;
  background-image: url("../img/logo-small.png");
}
.x-navigation.x-navigation-minimized .xn-search input {
  width: 30px;
  padding: 0px 2px 0px 28px;
}
.x-navigation.x-navigation-minimized .xn-search input:focus {
  width: 200px;
  padding: 0px 8px 0px 28px;
}
.x-navigation.x-navigation-custom li ul {
  background: #14171b;
}
.x-navigation.x-navigation-custom li > a {
  border-bottom: 0px;
}
.x-navigation.x-navigation-custom li > a:hover {
  background: #121418;
}
.x-navigation.x-navigation-custom li > a:hover .fa,
.x-navigation.x-navigation-custom li > a:hover .glyphicon {
  color: #b5c1d1;
}
.x-navigation.x-navigation-custom li > a .fa,
.x-navigation.x-navigation-custom li > a .glyphicon {
  color: #DDD;
}
.x-navigation.x-navigation-custom li.active > a {
  background: #121418;
}
.x-navigation.x-navigation-custom li.active > a .fa,
.x-navigation.x-navigation-custom li.active > a .glyphicon {
  color: #b5c1d1;
}
.x-navigation.x-navigation-custom > li > a {
  padding: 12px 10px 12px 12px;
  border-bottom: 0px;
  font-size: 13px;
  color: #CCC;
  border-left: 3px solid transparent;
}
.x-navigation.x-navigation-custom > li > a:hover {
  color: #FFF;
  background: #1f232a;
}
.x-navigation.x-navigation-custom > li.active > a {
  color: #FFF;
  background: #1f232a;
  border-left: 3px solid #b5c1d1;
}
.x-navigation.x-navigation-custom > li.xn-openable:before {
  color: #CCC;
  top: 12px;
}
.x-navigation.x-navigation-custom > li.xn-title {
  border-bottom: 0px;
}
.x-navigation.x-navigation-custom > li.xn-logo > a {
  border-left: 0px;
}
.x-navigation.x-navigation-custom > li.xn-logo > a:hover {
  background-color: #0c0d10;
}
.x-navigation.x-navigation-custom.x-navigation-minimized > li > a {
  padding: 15px 10px 15px 7px;
}
.x-navigation.x-navigation-custom.x-navigation-minimized > li.xn-profile > a {
  border-left: 0px;
  padding: 7px;
}
.x-navigation .xn-search {
  padding: 10px 10px 0px 9px;
  position: relative;
}
.x-navigation .xn-search input {
  width: 200px;
  height: 30px;
  padding: 0px 8px 0px 28px;
  line-height: 25px;
  border: 1px solid #101215;
  background: #14171b;
  color: #AAA;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.x-navigation .xn-search:before {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  color: #AAA;
  left: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
.x-navigation .xn-visible {
  display: none;
}
.x-navigation .x-navigation-control {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}
.x-navigation .x-navigation-control:hover {
  background: #0c0d10;
  border-bottom: 0px;
}
.x-navigation .x-navigation-control:before {
  position: absolute;
  font-family: Verdana,Helvetica;;
  content: "\f0c9";
  font-size: 14px;
  top: 14px;
  left: 20px;
  color: #FFF;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.x-navigation > li.xn-logo > a {
  border-bottom: 0px;
}
.x-navigation > li.xn-logo > a:first-child {
 font-size: 25px;
 border-bottom: 0px;
 color: #FFF;
 height: 50px;
 text-align: center;
 background: #0080FF;
}
.x-navigation > li.xn-logo > a:first-child:hover {
  background-color: #0080FF;
}
.x-navigation > li.xn-profile {
  padding: 0px;
  border-bottom: 1px solid #14171b;
}
.x-navigation > li.xn-profile .profile-data-name {
  color: #BDBDBD;
}
.x-navigation > li.xn-profile .profile-mini {
  display: none;
  width: 50px;
  padding: 7px;
}
.x-navigation > li.xn-profile .profile-mini img {
  width: 36px;
  border: 2px solid #FFF;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
}
.x-navigation .informer {
  font-size: 11px;
  position: absolute;
  line-height: 20px;
  text-align: center;
  padding: 0px 5px;
  background: #BBB;
  right: 10px;
  top: 15px;
  color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.x-navigation .informer.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
.x-navigation .informer.informer-primary {
  background: #1b1e24;
}
.x-navigation .informer.informer-success {
  background: #95b75d;
}
.x-navigation .informer.informer-info {
  background: #1caf9a;
}
.x-navigation .informer.informer-warning {
  background: #1caf9a;
}
.x-navigation .informer.informer-danger {
  background: #E04B4A;
}
.x-navigation li li .informer {
  top: 12px;
}
.x-navigation .xn-icon-button .informer {
  left: auto;
  bottom: auto;
  right: 1px;
  top: 5px;
}
.page-container.page-mode-rtl .x-navigation.x-navigation-minimized li ul {
  top: 0px;
  right: auto;
  left: -230px;
}
.page-container.page-mode-rtl .x-navigation.x-navigation-minimized li ul:after {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #1b1e24;
}
.page-container.page-mode-rtl .x-navigation.x-navigation-minimized li .profile {
  right: auto;
  left: -230px;
}
.page-container.page-mode-rtl .x-navigation.x-navigation-minimized li .profile:after {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #1b1e24;
}
.page-container-boxed .x-navigation {
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
/* END NAVIGATION */

/* PROFILE */
.profile {
  width: 100%;
  float: left;
  padding: 15px 10px;
  position: relative;
  background: #080a0e;
}
.profile .profile-image {
  float: left;
  width: 100%;
  margin: 0px 0px 10px;
  text-align: center;
}
.profile .profile-image img {
  width: 100px;
  border: 3px solid #FFF;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
}
.profile .profile-data {
  width: 100%;
  float: left;
  text-align: center;
}
.profile .profile-data .profile-data-name {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
}
.profile .profile-data .profile-data-title {
  width: 100%;
  float: left;
  font-size: 11px;
  font-weight: 400;
  color: #999;
}
.profile .profile-controls a {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #DDD;
  border: 2px solid #DDD;
  line-height: 25px;
  position: absolute;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  padding: 0px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.profile .profile-controls a.profile-control-left {
  left: 15px;
  top: 53px;
  text-align: center;
}
.profile .profile-controls a.profile-control-right {
  right: 15px;
  top: 53px;
  text-align: center;
}
.profile .profile-controls a .fa,
.profile .profile-controls a .glyphicon {
  width: auto;
  margin-right: auto;
}
.profile .profile-controls a:hover {
  border-color: #FFF;
  color: #FFF;
}
/* X-NAVIGATION FEATURES */
.x-navigation .profile {
  width: 220px;
  background: #1b1e24;
  position: absolute;
  top: 4px;
  right: -230px;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.x-navigation .profile {
  display: block;
}
.x-navigation.profile-mini {
  display: block;
  border-bottom: 0px;
}
/* END X-NAVIGATION FEATURES */
/* END PROFILE */
